*{
  background-color: none rgb(227, 227, 227);
}
.navbar {
  height: 75px; 
}
.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: x-large;
}
.textcolor {
  color: rgb(115, 64, 96);
}

.navbar {
  background-color:#fcfcfc;
  color: black;
}
.login{
  margin-left: auto;
  margin: auto;
}
.input{
  margin: auto;
  border-radius: 1%;
  width: 30%;
  height: 40px;
  font-size: 17px;
  margin-bottom: 17px;
}
.footer{
  background-color: #393e46;
  height: 150px;
}

/* first page */
.video-container {
  position: relative;
  width: 100%;
  height: auto; /* Adjust as needed */
  overflow: hidden;
}

.video {
  width: 100%;
  height: auto; /* Adjust as needed */
  object-fit: cover; /* Ensures the video covers the entire container */
}

.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
  font-size: 3rem;
  z-index: 1; /* Ensure text is above the video */
}


.holidays{
  text-align: center;
}