body {
    font-family: 'Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Full width of the page */
    max-width: 1200px; /* Optional: Limit max width for larger screens */
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between cards */
}

.col-md-3 {
    flex: 1 1 calc(50% - 15px); /* Two columns layout with gap adjustment */
    max-width: calc(50% - 15px); /* Two columns layout with gap adjustment */
    box-shadow: 0 4px 8px rgba(221, 101, 101, 0.1);
    box-sizing: border-box;
}

.card {
    transition: transform 0.3s;
    /* box-shadow: 0 4px 8px rgba(221, 101, 101, 0.1); */
    border-radius: 5px;
    background-color: whitesmoke;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px; /* Space below each card */
}

.card:hover {
    transform: scale(1.02);

}

.card-img-top {
    width: 100%; /* Full width of the card */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensure the image covers the container */
}

.card-body {
    padding: 10px;
}

.textcolor {
    color: black;
}

@media (max-width: 768px) {
    .col-md-3 {
        flex: 1 1 100%; /* Single column on small screens */
        max-width: 100%;
    }

    .card-img-top {
        height: auto; /* Adjust height proportionally on smaller screens */
        max-height: 300px; /* Maintain max height */
    }
}
